<script id="Azienda-template" type="text/x-handlebars-template">

    <div class="col-md 12 container">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class=" retrooo container">

                <div class="row">

                    <div class="col-md-12">

                        <div class="centra"> <img src="http://loveitaly.altervista.org/api/images/manufacturers/{{id}}&ws_key=IYI6M35MLB8UVW38Y99RY3YPQWRX5X8H" class="posizioneprodotto img-rounded" height="240">
                        </div>

                    </div>

                </div>

            </div>

            <div class="nomaz centra">{{name}}</div>

            <div class="descrtesto"> {{meta_description}} </div>

            <div class="centra contatti"> Contatti:</div>

            <div class="col-md-6">

                <div class="font25px marginetto ">

                    <div class="telmailind">

                        <span class=" sinistraaaa fa fa-phone ">
              
            </span> Città:
                        <u>
              <a id="city" class="modind">
                  {{city}}
              </a>
            </u>
                    </div>

                </div>

            </div>

            <div class="col-md-6">

                <div class="font25px marginetto ">

                    <div class="telmailind"> <span class=" sinistraaaa fa fa-at"></span> Indirizzo: <u><a id="indirizzo" class="modind">{{addr}} </a></u>
                    </div>

                </div>

            </div>

            <div class="col-md-6">

                <div class="font25px marginetto ">

                    <div class="telmailind"> <span class="sinistraaaa fa fa-globe"></span> Telefono: <u><a id="telefono" class="modind">{{phone}}  </a></u> </div>

                </div>

            </div>

        </div>
        <!--chiude col-md-8!-->

        <div class="col-md-2"></div>

    </div>
    <!--chiude container!-->

</script>

<div class="content-placeholder"></div>