<div class="menu">

    <a class="icon icon-left-nav pull-right scbar closeButton"></a>

    <div class="centra">
        <p class="tes">LoveItaly</p>
    </div>

    <div class="centra"><img src="img/log.png" class="img-rounded pom"> </div>

    <div class="centra">
        <p class="Acc">Benvenuto</p>
    </div>

    <hr class="separator">

    <button id="paginapersonale" class="btn btn-outlined btn-negative PagP"> <span class="fa fa-user pg"></span>Pagina Personale
    </button>

    <button id="carrello" class="btn btn-outlined btn-positive Cart"><span class="fa fa-shopping-cart pg "></span>Carrello
    </button>

    <a href="http://www.loveitaly.net">
        <button class="btn btn-block btn-outlined Inf"><span class="fa fa-info-circle pg">Info </button>
      </a>

      <div id="esci" class="centra">

        <button class="logout btn btn-negative"><span class="fa fa-sign-out"></span>Esci
        </button>

</div>

</div>