<div class="menu">
    <div class="icon icon-left-nav pull-right scbar closeButton">
    </div>

    <div class="centra">

        <p class="tes">LoveItaly</p>

    </div>

    <div class="centra">

        <img src="img/log.png" class="img-rounded pom">
    </div>

    <div class="centra">

        <p class="Acc">Accedi con le tue credenziali</p>

    </div>
    <div id="errore"></div>

    <form class="input-group For">

        <div class="input-row  Username ">

            <label class="prpr">
                <a class="fa fa-at Use"></a>

            </label>

            <b><input class="bordosfondotesto" id="email" type="text" placeholder="E-mail"></b>

        </div>

        <div class="input-row Passw">

            <label class="prpr">
                <a class="fa fa-lock Use"></a>
            </label>

            <b><input class="bordosfondotesto2" id="passw" type="password" placeholder="Password">
            </b>

        </div>

    </form>

    <a href="http://www.loveitaly.net/password-recupero" class="pasD">Password Dimenticata?</a>

    <button id="log" class="btn btn-positive btn-block bott">
        <a class="fa fa-sign-in Use"></a>
        Login
    </button>


    <div class="centra">

        <a id="regg" class="reg">Non sei ancora registrato? Registrati qui!</a>

    </div>

</div>