<div class="col-md 12 container">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <label Class="concludiacquisto">Concludi l'Acquisto </label>

        <div class="centra">

            <img class="imgcartellino" src="img/euro.ico">

            <label class="totalepagamento"><b> Prezzo Totale: € <a id="totale" class="coloreprezzo"></a></b>
            </label>

            <input class="centra creditcardnumber" type="text" placeholder="-Inserisci il numero della carta di credito-" name="Credit Card">

        </div>
        <!--chiude col-md-8!-->

        <div class="bottone">
            <button id="salta" type="button" class="btn btn-success fa fa-shopping-cart btn_paga successo" style="font-size:23px"> Compra</button>
        </div>

    </div>

    <div class="col-md-2"></div>

</div>