<script id="personale-template" type="text/x-handlebars-template">
    <div class="col-md 12 pag container">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class=" retrooo container">

                <div class="row">

                    <div class="col-md-6">

                        <div class="centra nomeutente">
                            <h2>Nome: {{firstname}}</h2> </div>

                    </div>

                    <div class="col-md-6">

                        <div class="centra cognomeutente">
                            <h2>Cognome: {{lastname}}</h2>
                        </div>

                    </div>

                </div>

            </div>

            <hr class="riga">

            <div class="centra contatti"> Contatti: </div>

            <div class="col-md-6">

                <div class="font25px marginetto ">
                    <div class="telmailind">
                        <div class="row"> <b><span class=" sinistraaaa fa fa-at"></span>  </b> E-m@il:
                            <a class="modind"> <u> {{email}} </u> </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="font25px marginetto ">
                    <div class="telmailind">
                        <div class="row"> <b> <span class="sinistraaaa fa fa-map-marker">  </b> </span> Indirizzo:
                            <a class="modind"> <u id="loc"> </u> </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</script>
<div class="content-placeholder"></div>