<div class="col-md 12 container">

    <div class="col-md-2"></div>

    <div class="col-md-8">

        <label Class="compilaform">Compila il form sottostante per effettuare l'iscrizione</label>
        <label Class="richiestadati"><i> (Accertati di riempire ogni campo del form con dati i corretti)</i>
        </label>

        <form class="form-group sfondotrasparente">

            <div class="centra">

                <div class="col-xs-4">

                    <div class="input-row margineform1">
                        <label class="grandezzaaa">Nome</label>
                    </div>

                    <div class="input-row margineform1">
                        <label class="grandezzaaa">Cognome</label>
                    </div>

                    <div class="input-row margineform1">
                        <label class="grandezzaaa">E-m@il</label>
                    </div>

                    <div class="margineform2">
                        <div class="input-row">
                            <label class="grandezzaaa">Password</label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xs-8">

                <div class="margineform">
                    <input id="nome" class="tuttotrasparente" type="text" placeholder="Nome"> </div>
                <div class="margineform">
                    <input id="cog" class="tuttotrasparente" type="text" placeholder="Cognome"> </div>
                <div class="margineform">
                    <input id="mail" class="tuttotrasparente" type="email" placeholder="Indirizzo e-mail"> </div>
                <div class="margineform">
                    <input id="password" class="tuttotrasparente" type="password" placeholder="Password"> </div>

            </div>

        </form>

    </div>
    <!--chiude col-md-8!-->

    <div class="bottone">
        <button id="iscriviti" type="button" class="btn btn-success fa fa-sign-in btn_iscriviti" style="font-size:22px"> Iscriviti</button>
    </div>

    <div class="col-md-2"></div>

</div>
<!--chiude container!-->