<div class="col-md 12 container">

    <div class="col-md-3"></div>

    <div class="col-md-6">

        <div Class="Logo"><img class="Logo">
        </div>

        <label id="where" class="dove"></label>

        <form id="selcitta">

            <select class="form-control" id="sel1">

                <option id="salta" value="salta">Scelgo più tardi</option>

                <option id="castelfrentano" value="castelfrentano">Castel Frentano (CH)</option>

                <option id="fossacesia" value="fossacesia">Fossacesia (CH)</option>

                <option id="frisa" value="frisa">Frisa (CH)</option>

                <option id="lanciano" value="lanciano">Lanciano (CH)</option>

                <option id="coppito" value="coppito">Coppito (AQ)</option>

                <option id="ortona" value="ortona">Ortona (CH)</option>

                <option id="roccasangiovanni" value="roccasangiovanni">Rocca San Giovanni (CH)</option>

                <option id="santamariaimbaro" value="santamariaimbaro">Santa Maria Imbaro (CH)</option>

                <option id="sanvitochietino" value="sanvitochietino">San Vito Chietino (CH)</option>

                <option id="treglio" value="treglio">Treglio (CH)</option>

            </select>

        </form>

        <div class="bottone">
            <button id="salta" type="button" class="btn btn-success btn_avanti">Avanti</button>
        </div>

    </div>

    <div class="col-md-3"></div>

</div>